.btn-xs{
  padding: 1px 5px;
font-size: 12px;
line-height: 1.5;
border-radius: 3px;
}
.btn-blue {
	border-color: #0088cc;
	background-color: #0088cc;
	border-color: #0088cc #0088cc #006699;
	color: #FFF;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
}

.btn-blue:hover {
  border-color: #0077b3 #0077b3 #0077b3;
	background-color: #0077b3;
}

.btn-blue:active, .btn-blue:focus {
	border-color: #0077b3;
	background-color: #0077b3;
	color: #FFF;
}

.btn-blue.dropdown-toggle {
	border-left-color: #0077b3;
}

.btn-blue[disabled] {
	border-color: white;
	background-color: white;
	color: #0077b3;
}
.btn-danger {
	border-color: #d2322d;
	background-color: #d2322d;
	border-color: #d2322d #d2322d #a82824;
	color: #FFF;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
}

.btn-danger:hover {
	border-color: #d74742 #d74742 #bd2d29;
	background-color: #d74742;
	color: #FFF;
}

.btn-danger:active, .btn-danger:focus {
	border-color: #bd2d29;
	background-color: #bd2d29;
	color: #FFF;
}

.btn-danger.dropdown-toggle {
	border-left-color: #bd2d29;
}

.btn-danger[disabled] {
	border-color: #e48481;
	background-color: #e48481;
	color: #CCC;
}
